body {
    margin: 0;
    background-image: url("cardsGameBackground.jpg");
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    color: white;
}


button {
    background: yellow;
    cursor: pointer;
    border: none;
}
#get-card-btn {
    align-self: flex-start;
    padding: 10px;
}

#draw-btn {
    font-size: 20px;
    padding: 10px;
    align-self: stretch;
}
.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}
.slot1 {
    margin-bottom: 25px;
}
.slot2 {
    margin-top: 25px;
}
img.card {
    width: 100%;
    height: 100%;
}
div.top {
    display: flex;
    align-self: flex-start;
}
p {
    margin: 0;
    margin-left: 15px;
}

button:disabled {
    cursor: not-allowed;
}